<header>
  <h1>Star Wars | People</h1>
</header>

<main *ngIf="dataState$ | async as state">
  <ng-container *ngIf="!state.has_error else errorState">

    <app-people-list-view-controllers></app-people-list-view-controllers>

    <div class="loading">
      <ngb-progressbar  
        *ngIf="state.is_loading"
        type="info" 
        [value]="100"
        [striped]="true"
        [animated]="true"
      ></ngb-progressbar>      
    </div>

    <app-people-list-table
      *ngIf="!!state.data" 
      [data]="state.data"
    ></app-people-list-table>
  </ng-container>

  <ng-template #errorState>
    <ngb-alert type="danger">
      There's an error to load people list. Try again.
    </ngb-alert>
  </ng-template>
</main>